{% extends 'base.html.twig' %}

  {% block title %}Edytuj stan magazynowy{% endblock %}

  {% block body %}
    <h1>Edytuj stan magazynowy</h1>

    <p>Product:  {{ stockItem.productId }} - {{ productName}}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit" class="btn">Zapisz</button>
    {{ form_end(form) }}

    <a href="{{ path('inventory_stock_index') }}">← Wróć do listy</a>
  {% endblock %}